<div id="map_container" class="d-flex justify-content-start text-dark" style="overflow-x: auto">
    {% for mainocc in data.mainOccurrence %}
        <div class="card" style="min-height: 80vh; min-width: 50vw">
            <div class="w-100 card-header text-center">
                {% if mainocc.faksimile_page.page_folio %}
                    Folio: {{ mainocc.faksimile_page.page_folio }}
                {% else %}
                    Seitennummer: {{ mainocc.faksimile_page.page_number }}
                {% endif %}
            </div>
            <div id="primemap{{ loop.index }}" class="leaflet-container border border-secondary" >

            </div>
            <script type="text/javascript">
                createMap("primemap{{ loop.index }}", "{{ mainocc.faksimile_page.image_link }}", {{ mainocc.faksimile_property.y1 }}, {{ mainocc.faksimile_property.x1 }}, {{ mainocc.faksimile_property.y2 }}, {{ mainocc.faksimile_property.x2 }});
            </script>
        </div>
    {% endfor %}
</div>