{% set first = data.0 %}
<div id="box{{ first.0.id }}"  class="card occ-box" style="min-height: 85vh">
    <div class="card-header d-flex justify-content-between">
        <div>
            <span class="badge badge-primary">
            {{ first.0.transcription_page_with_text.transcription.document.country }},
            {{ first.0.transcription_page_with_text.transcription.document.location }},
            {{ first.0.transcription_page_with_text.transcription.document.repository }},
            {{ first.0.transcription_page_with_text.transcription.document.idno }}
            </span>
            <span class="badge badge-info">Transkription</span>
        </div>
        <div>
            <a href="#" class="text-danger close-box" data-occ="{{  first.0.id }}">
                <i class="fas fa-times-circle"></i>
            </a>
        </div>


    </div>
    <div class="card-body">
        <div class="bg-white text-dark p-1 m-1">
            {%- for page in data -%}
                {%- for occurrence in page -%}
                    {% set tpage = occurrence.transcription_page_with_text %}
                    <code>
                        {% if tpage.page_folio %}
                            Folio: {{ tpage.page_folio }}
                        {% else %}
                            Seitennummer: {{ tpage.page_number }}
                        {% endif %}
                    </code>
                    <p class="{% if tpage.language != "lat" %}rtl{% else %}{% endif %}">
                        {%- for fragment in occurrence.fragments -%}
                            <span class="{% for property in fragment.properties %}{% if property == "italics" %} font-italic {% elseif property=="bold" %} font-weight-bold {% elseif property == "underline" %} underline {% endif %}{% endfor %}">
                            {{- fragment.text -}}
                        </span>
                        {%- endfor -%}
                    </p>
                {%- endfor -%}
            {%- endfor -%}

        </div>
    </div>


</div>